<header class="container-header">
    <section class="top-container">
        <div *ngFor="let dato of datos">
            <div>
                {{ dato.descripcion }}: {{ dato.valor }}%
            </div>
        </div>
        <button>English</button>
        <button class="btn btn-primary" type="button">Log In</button>
        <button class="btn btn-primary" type="button">Sign Up</button>
    </section>

    <section>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-white">
            <a class="navbar-brand" href="#">
                <img src="https://s2.coinmarketcap.com/static/cloud/img/coinmarketcap_1.svg?_=d75d917"
                    alt="Logo de la pagina">
            </a>
            <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Cryptocurrencies </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Exchanges </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Comunity </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Products </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Learn </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
</header>