<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Coin</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <br>

  </div>
  <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1"><img class="search" src="../../../assets/search.png"></span>
    <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" (keyup)="searchTerm$.next($event.target)">
  </div>

  <div class="modal-body">
    <div class="containerCoins">
      <ul>
        <li class="oneCoin" *ngFor="let coin of listFiltered">
          <div>
            <img class="imageCoins" src="{{coin.image}}">
            <p>{{coin.name.charAt(0).toUpperCase()+coin.name.slice(1,coin.name.length)}}</p>
            <p class="lettherGray">{{coin.symbol.toUpperCase()}}</p>
          </div>>
        </li>
      </ul>
    </div>

  </div>

</ng-template>

<button class="btn btn-primary btn-lg" (click)="open(content)">Select coin</button>

<hr>

<pre>{{ closeResult }}</pre>
