
.modal-header{
  display:flex;
  width:90%;
  margin-left: 5%;
  border:0;
}
.btn{margin:2%;}
.imageCoins {
 width:24px;
 border-radius: 12px;
}
.modal-title{
  font-family: 'Rubik', sans-serif;
}
.modal-body{display: flex;}
.search{width: 23px;}
.containerCoins{
  width:95%;
}
.oneCoin{
  text-decoration: none;
  display: flex;
  justify-content:space-between;
  align-items:center;
  font-family: 'Rubik', sans-serif;
  width:95%;
  padding:1% 0%;
  background-color: white;
}
.oneCoin div {
  display: flex;
  justify-content:space-around;
  align-items:center;
}
.oneCoin div p{
  padding: 0 4px;
  margin: 4px;
}
.input-group-text{
 background-color: white;
 border:none;
}
.form-control{
  border:none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(231, 231, 231, 0.199);
}
.input-group {
  border: 3px solid #ced4da;
  width:80%;
  margin:0 10%;
  border-radius: 10px;
}
.input-group:hover{
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  border: 2px solid blue;
}
.lettherGray{
  color:gray;
}
.content-open{
  margin:0 10px;
  width:30%;
}
.content-open div{
  width:100%;
}
.content-open div span{
background-color: #ced4da;
}
.content-open div input{
  background-color: #ced4da;
}
/* style vista transaction */

.containerTransaction{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .btn{
    width:80%;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0D6EFD;
    border:0;
    font-family: 'Rubik', sans-serif;
    color:black;
    margin:15px 0;
  }

  .btn:hover{
    background-color: #0D6EFD;
    box-shadow:none;
    border:0;
    color:white;
  }
}
#oneCoinSelect{
  text-decoration: none;
  display: flex !important;
  align-items:center;
  font-family: 'Rubik', sans-serif;
  width:100%;
  padding:1% 0% 1%;
  background-color: white;
  img{
    width:24px;
    height:24px;
    border-radius: 10px;
    margin-left: 10px;
  }
  p{ margin-top: 12px }
}
.space{
  padding:0 4px;
}
.selectContainer{
  width:80%;
  border:1.5px solid gray;
  border-radius:7px;
  padding:0px 2px;
  margin:20px 0;
}

::ng-deep ng-select{
  img{ width:24px !important; }
  p{
    font-family: 'Rubik', sans-serif !important;
    margin-top: 12px
  }
}
::ng-deep .ng-select #divFirstCoin {
  display:flex !important;
  align-items:center  !important;
  padding:1% 0% 1%  !important;
  padding:0px 2px !important;
}
::ng-deep .ng-select #divFirstCoin  #divFirstCoinp1{
  padding:0 4px;
}
::ng-deep .ng-select #divFirstCoin  #divFirstCoinp2{
  color:gray !important;
}

.selectContainer div{
  display: flex !important;
  align-items:center;
}
.form-number{
  border:1.5px solid gray;
  outline: 0;
  border-radius: 5px;
  width:98%;
  padding: 5px 5px;

}
.form-number:focus{
  border:1.5px solid blue;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.cardQtyPrice{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  width:80%;
}
.cardQtyPrice div{
  width:50%;
}
.totalSpent{
  background-color: #EEF2F5;
  font-family: 'Rubik', sans-serif;
  width:80%;
  margin: 40px 0px 40px;
  border-radius: 10px;
  padding: 10px;
  }
.totalSpent input{
  border:0;
  background-color: #EEF2F5;
  border-radius: 10px;
  font-size: 27px;
  color:black;
  width:100%;
}

.totalSpent input:focus{
  border:0;
  outline: 0;
}
#btnTransaction{
  color:white;
  background-color:#0D6EFD ;
}
/*style alert*/
.alertAddTransaction {
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.alert{
  width:80%;
}
