<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Coin</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <br>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><img class="search" src="../../../assets/search.png"></span>
    <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" (keyup)="searchTerm$.next($event.target)">
  </div>

  <div class="modal-body">
    <div class="containerCoins">
      <ul>
        <li class="oneCoin" *ngFor="let coin of listFiltered" (click)="addTransaction(contentTransaction, coin)">
          <div>
            <img class="imageCoins" src="{{coin.image}}">
            <p>{{coin.name.charAt(0).toUpperCase()+coin.name.slice(1,coin.name.length)}}</p>
            <p class="lettherGray">{{coin.symbol.toUpperCase()}}</p>
          </div>>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<div class="content-open" (click)="open(content)">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><img class="search" src="../../../assets/search.png"></span>
    <input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1" (keyup)="searchTerm$.next($event.target)">
  </div>
</div>

<!-- Vista de modal para comprar -->

<ng-template #contentTransaction let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Transaction</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    <br>
  </div>

  <div class="containerTransaction">
    <button type="button" class="btn btn-outline-secondary btn-block">Comprar</button>
    <ng-select [(ngModel)]="chosenCoin" class="selectContainer" (keyup)="searchTerm$.next($event.target)" >

      <ng-option *ngFor="let coin of listFiltered" class="optioncontainer" >
        <div class="oneCoinSelect" (click)="chosenCoinObject=coin">
          <img style="width:24px; height:24px; border-radius: 10px;" src="{{coin.image}}">
          <p style="padding:0 3px;">{{coin.name.charAt(0).toUpperCase()+coin.name.slice(1,coin.name.length)}}</p>
          <p class="lettherGray">{{coin.symbol.toUpperCase()}}</p>
        </div>
      </ng-option>
    </ng-select>

  <section class="cardQtyPrice">
     <div>
       <p>Quantity</p>
       <input type="number" placeholder="0.00" class="form-number">
     </div>
     <div>
       <p>Price Per Coin</p>
       <input type="number" class="form-number" value="{{chosenCoinObject.current_price}}">
     </div>
  </section>

  <section class="totalSpent">
    <p>TotalSpent</p>
    <input placeholder="$0"/>
  </section>

  <button type="button" class="btn btn-primary btn-lg btn-block" >Add transaction</button>

  </div>

</ng-template>




