<router-outlet></router-outlet>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src='shared/images/logo.jpg' alt="logo ff">
      <img src="shared/images/logo.png" alt="dfff">
    </a>
    <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/lugares">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="/contacto">Contacto</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"> Cryptocurrencies </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Exchanges </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Comunity </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Products </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Learn </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="datos" > Datos </a>
        </li>



      </ul>



    <div class="navbar-collapse" [ngClass]="{ 'collapse': true }">
        <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="#">Link 1a</a> </li>
            <li class="nav-item"><a class="nav-link" href="#">Link 2a </a></li>
        </ul>
    </div>