$secondary-color-dark: rgb(23, 25, 36);
$primary-color-dark:#000;
$primary-color-blue: #3861fb; 
$color-light-neutral: rgb(88, 102, 126);
$color-light-neutral-2:#c5cad3;
$color-light-neutral-3:rgb(239, 242, 245);
$down-color: #ea3943;
$up-color: #16c784;
$link-color:rgb(56, 97, 251);
$box-shadow-color:rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;